<body>

  <app-navbar></app-navbar>

<main>

  <!-- partner section -->
  <div class="wrapper py-4">
    <div class="center">
      <div class="partner" *ngIf="partner">
        <img src="http://localhost:8080/api/partners/photo/{{this.partner.photoPath}}" class="rounded">

        <div class="partner-info-wrapper">

          <div class="d-flex">
            <h1 (click)="open(detailsModal)" class="just-pointer">
              {{partner.name}}
            </h1>
            <h3 class="d-flex align-items-center pt-1">
              <span class="badge text-bg-primary" *ngIf="owner">Owner mode</span>
            </h3>

            <div class="d-flex align-items-center" *ngIf="owner">
              <button
                class="ownerOptions btn btn-outline-primary me-2"
                matTooltip="Add new product to your business"
                [matTooltipShowDelay]="200"
                (click)="openModal(addProductForm)"
                >
                <h5>
                  <i class="bi bi-plus-lg"></i>
                  Add product
                </h5>
              </button>

              <button
                class="ownerOptions btn btn-outline-primary"
                matTooltip="Edit your business information"
                [matTooltipShowDelay]="200"
                (click)="openModal(editPartner)"
                >
                <h5>
                  <i class="bi bi-pen-fill"></i>
                  Edit
                </h5>
              </button>
            </div>
          </div>

          <div class="mb-3" (click)="open(reviewModal)">
            <i class="bi bi-star-fill text-warning"></i>
            {{rating | number: '1.1-1'}}/5
            <a class="pointer">({{reviewsCount}}) reviews</a>
          </div>

          <div class="partner-info">
            <i class="bi bi-geo-alt-fill"></i>
            <div class="info-col">
              {{address.street}} <br>
              <span class="text-muted"> {{address.postalCode}}, {{address.city}} </span>
            </div>

            <i class="bi bi-clock"></i>
            <div class="info-col">
              <span class="text-success">Open</span> ⋅ {{partner.openHour}} - {{partner.closeHour}}
            </div>

            <i class="bi bi-truck"></i>
            <div class="info-col">
              Exp. delivery time <b>{{partner.expectedWaitingTime}}min</b>
            </div>

            <div class="pointer d-flex" (click)="open(detailsModal)">
              <i class="bi bi-info-circle"></i>
              <div class="info-col">
                <a>Show details</a>
              </div>
            </div>

            <div class="pointer d-flex">
              <i class="bi bi-globe2"></i>
              <div class="info-col">
                <a (click)="navigateToExternalUrl()">{{partner.websiteLink}}</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- main Content -->
  <div class="restaurant-container ">

    <div class="center">
      <div class="search pt-3 mb-4">

        <div class="input-group filter-search">
          <span class="input-group-text"><i class="bi bi-search"></i></span>
          <input class="form-control" [(ngModel)]="searchText" type="text" placeholder="search">
        </div>

        <div class="badge-container">
          <div class="d-flex">
            <div class="badge-item"
                *ngFor="let category of categories"
                [ngClass]="{ 'selected': selectedCategory === category }"
                (click)="selectCategory(category)">
              {{category}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let product of products | filter: searchText;" (click)="openProductModal(productModal, product)">
        <!-- card -->
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-5 img rounded">
              <div *ngIf="product?.onSale" class="on-sale-indicator">On Sale!</div>
              <img src="http://localhost:8080/api/products/photo/{{product?.photoPath}}" class="img-fluid rounded" alt="product">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">{{product?.name}}</h5>

                <p class="card-text">
                  <small class="text-muted">{{product?.description}}</small>
                </p>
                <div class="badge-container">
                  <span class="badge rounded-pill text-bg-info me-1" *ngFor="let category of product?.categories">
                    {{category.name}}
                  </span>
                </div>
                <h6 class="card-text price">{{ product?.price }} $</h6>

              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- placeholders -->
      <div class="row" *ngIf="products.length == 0" >
        <div class="col-md-4" *ngFor="let placeholder of palceholders">
          <div class="card mb-3" style="max-width: 540px;" aria-hidden="true">
            <div class="row g-0">
              <div class="col-md-5 rounded placeholder-glow">
                <span class="placeholder w-100 h-100 rounded"></span>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                  </h5>
                  <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<app-footer></app-footer>
  
</body>

<ng-template #detailsModal let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">{{partner.name}}</h2>
    <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"
    (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-4">

    <div class="modal-map rounded mb-3">
      <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(getUrl(address))'
        width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>

    <p>{{partner.description}}</p>

    <h3>Address</h3>
    <div class="info-col">
      <i class="bi bi-geo-alt-fill me-1"></i>
      {{address.street}} <br>
      <span class="text-muted ms-4"> {{address.postalCode}}, {{address.city}} </span>
    </div>

    <h3>Open hours</h3>
    <div class="info-col">
      <i class="bi bi-clock me-2"></i>
      <span class="text-success">Open</span> ⋅ {{partner.openHour}} - {{partner.closeHour}}
    </div>

    <h3>Website</h3>
    <div class="info-col">
      <div class="pointer d-flex">
      <i class="bi bi-globe2  me-2"></i>
      <a (click)="navigateToExternalUrl()">{{partner.websiteLink}}</a>
      </div>
    </div>

    <h3>Contact number</h3>
    <div class="info-col">
      <i class="bi bi-telephone-fill me-1"></i>
      {{partner.contactNumber}}
    </div>
  </div>
</ng-template>

<ng-template #reviewModal let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">{{partner.name}} reviews</h2>
    <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"
    (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-4">
    <app-partner-review [partner]="partner" [reviews]="reviews"></app-partner-review>
  </div>
</ng-template>

<ng-template #addProductForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new Product</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-4">
    <app-add-product-form [partner]="partner" (dataChangedEvent)="productsChanged()"></app-add-product-form>
  </div>
</ng-template>

<ng-template #editPartner let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit partner info</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-4">
    <app-partner-edit-form [partner]="partner" (dataChangedEvent)="partnerChanged()"></app-partner-edit-form>
  </div>
</ng-template>

<ng-template #productModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">{{selectedProduct.name}}</h3>
    <button type="button" class="btn-close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-3">
    <app-product [productId]="selectedProduct.id" [modal]="modal" [owner]="owner"></app-product>
  </div>
</ng-template>
