<body class="text-center waves-background">
    <main class="form-signin w-100 m-auto">
      <button class="btn btn-close exit-btn" [routerLink]="['/']"></button>
      
      <form>
        <h1 class="user">
          <i class="bi bi-person"></i>
        </h1>
        
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div> 
    
        <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2023-2024</p>
        <app-auth-content></app-auth-content>
      </form>
    </main>
</body>

