
// html,
// body {
//   // height: 100vh;
//   // height: 100%;
// }

body {
  display: flex;
  align-items: center;
}

main {
  margin-top: 5% !important;
  background-color: whitesmoke;
  border-radius: 20px;
  position: relative;
}

.form-signin {
  max-width: 400px;
  padding: 35px;
  background-attachment: fixed;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.waves-background {
  aspect-ratio: 16/9;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../../assets/layered-waves-haikei1.svg);
  background-position: 0 -100px;
  background-color: #202020;
}

.exit-btn {
  position: absolute;
  right: 6%;
  top: 6%;
}

.user {
  font-size: calc(3.5rem + 1.5vw);
}

h1 {
  left: 0%;
}


// --------- footer -----------

.nav-hover-underline li.nav-item a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 0px 130px 0px 130px;


  // background-color: #212529; // same as nav
  background-color: #202020;
  color: white;

  footer {
    width: 1500px;
  }

  h5 {
    color: rgba(255, 255, 255, 0.72);
  }

  ul>li>a {
    color: white !important;
  }
}
