<app-navbar (dataChangedEvent)="changeAddress($event)"></app-navbar>

  <div class="header-search sticky-top">
    <div class="header-search-input">
      <form class="margin-search">

        <button type="button" class="btn header-search-input-placeholder px-4 r-10"
          (click)="search(searchTerm)">
          <i class="fa-solid fa-magnifying-glass black"></i>
        </button>

        <div class="text-input">
          <label for="search-input" class="Visual-hidden">
            <input id="search-input" [(ngModel)]="searchTerm" (keyup)="search(searchTerm)"
              [ngModelOptions]="{standalone: true}" />
          </label>
        </div>
      </form>
    </div>
  </div>

<main class="main-color">

  <div class=" main-container pt-5">
    <div class="category-page_body">
      <div class="store-wall">
        <div class="store-wall-content">
          <div class="wall-element background-btn">
            <div class="toAllPartners d-flex justify-content-center">
              <a (click)="goToAllPartners()">
                <i class="fa-solid fa-earth-americas"></i>
                Show all partners
              </a>
            </div>
          </div>

          <div class="wall-element">
            <h3 class="text-center mb-1">Filters</h3>
            <div class="filter-section">
              <ul>
                <li
                  *ngFor="let category of categories"
                  class="list-element"
                  (click)="selectCategory(category)"
                  [ngClass]="{'active': categoryActiveName === category}">
                  <a>
                    {{category}}
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="category-page_results">

        <router-outlet></router-outlet>

        <div *ngIf="flag" class="category-page-stores-container">
          <div class="row">
            <!-- advertisement -->
            <div class="col-md-4" >
              <div class="card mb-3" style="max-width: 540px;" (click)="navigateToExternalUrl()">
                <div class="row g-0">
                  <div class="col-md-4 img rounded w-100">
                    <img src="../../../../assets/ad-placeholder.png" class="card-img-top h-100" alt="Restaurant Image">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title mt-2">{{ ad.title }}</h5>
                      <p class="card-text my-2"><span>{{ ad.description }} </span></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4" *ngFor="let partner of partners">
              <div class="card mb-3" style="max-width: 540px;" [routerLink]="['/partner/',partner.name]" >
                <div class="row g-0">
                  <div class="col-md-4 img rounded w-100">
                    <img src="http://localhost:8080/api/partners/photo/{{this.partner.photoPath}}" class="card-img-top h-100" alt="Restaurant Image">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title mt-2">{{ partner?.name }}</h5>
                    <div class="badge-container">
                      <p class="card-text badge rounded-pill text-bg-info me-1"><span>{{ partner.partnerType?.toString() }} </span></p>
                    </div>
                    <div class="delivery">
                      <i class="bi bi-truck"></i> {{partner.expectedWaitingTime}}min
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

  </div>
</main>

<app-footer></app-footer>

