
main {
  background-color: whitesmoke;
  border-radius: 20px;
  margin-top: 0px !important;
}

.form-signin {
  top: 50px;
  max-width: 450px;
  padding: 35px;
  background-attachment: fixed;
  position: relative;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.waves-background {
  aspect-ratio: 16/9;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../../assets/layered-waves-haikei1.svg);
  background-position: 0 -50px;
  background-color: #202020;
}

.exit-btn {
  position: absolute;
  right: 6%;
  top: 4%;
}

h1 {
  margin-bottom: 30px;
}

p {
  margin-bottom: 0rem;
}
