<body class="waves-background">
  <main class="form-signin w-100 m-auto">
    <button class="btn btn-close exit-btn" [routerLink]="['/']"></button>

    <div class="modal-header pb-4 border-bottom-0 d-flex justify-content-center">
      <h1 class="fw-bold mb-0 fs-2">Register</h1>
    </div>

    <form
      [formGroup]="userForm"
      (ngSubmit)="onSubmit()"
      class="row g-3 needs-validation"
      novalidate
    >

    <div class="form-group col-md-6">
      <label for="firstName" class="form-label">First name</label>
      <input
        type="text"
        name="name"
        formControlName="firstName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
        [ngClass]="{ 'is-valid': submitted && !f['firstName'].errors }"
      />
      <div class="invalid-feedback" *ngIf="submitted && f['firstName'].errors">
        <p>Name is required</p>
      </div> 
    </div>

    <div class="form-group col-md-6">
      <label for="lastName" class="form-label">Last name</label>
      <input
        type="text"
        name="lastName"
        formControlName="lastName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
        [ngClass]="{ 'is-valid': submitted && !f['lastName'].errors }"
      />
      <div class="invalid-feedback" *ngIf=" submitted && f['lastName'].errors">
        <p>Last Name is required</p>
      </div> 
    </div>

    <div class="form-group col-md-12">
      <label for="tel" class="form-label">Telephone number</label>
      <input
        type="tel"
        name="telephone"
        formControlName="telephoneNumber"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['telephoneNumber'].errors }"
        [ngClass]="{ 'is-valid':  !f['telephoneNumber'].errors }"
      />
      <div class="invalid-feedback" *ngIf="submitted && f['telephoneNumber'].errors">
        <p>Provide valid telephone Number</p>
      </div> 
    </div>

    <div class="form-group col-md-12">
      <label for="email" class="form-label">E-mail</label>
      <input
        type="email"
        name="email"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': (submitted && f['email'].errors) || wrongEmail}"
        [ngClass]="{ 'is-valid': submitted && !f['email'].errors }"
      />
      <div class="invalid-feedback" *ngIf="f['email'].errors">
        <p>Provide valid email</p>
      </div>
      <div class="invalid-feedback" *ngIf="wrongEmail == true && !f['email'].errors">
        <p>Email alredy taken</p>
      </div>
    </div>

    <div class="form-group col-md-12">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        formControlName="password"
        class="form-control mb-2"
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        [ngClass]="{ 'is-valid': submitted && !f['password'].errors }"
      />
      <div class="invalid-feedback" *ngIf="submitted && f['password'].errors" >
        <p>Password should be at least 3 characters</p>
      </div> 
    </div>

    <div class="form-group">
      <button class="w-100 btn btn-lg btn-primary">Submit</button>
    </div>

    <hr class="my-3">
    <small class="text-muted mt-0 text-center">By clicking Submit, you agree to the terms of use.</small>

    <p class="mt-4 mb-2 text-muted text-center">&copy; 2023-2024</p>
    </form>
  </main>
</body>