<div class="row">
    <div class="col-md-12" *ngFor="let order of orders">
      <!-- card -->
      <div class="card mb-3">
        <div class="row g-0 ps-2 pe-2 pt-2">
          <h3 class="text-center">
            {{order?.status === 'inDelivery' ? 'In delivery' : ''}}
            {{order?.status === 'inPreparation' ? 'In preparation' : ''}}
            {{order?.status === 'readyForDelivery' ? 'Ready for delivery' : ''}}
            {{order?.status === 'done' ? 'Done' : ''}}
          </h3>
          <div class="col-md-12 img rounded">
            <img src="http://localhost:8080/api/partners/photo/{{order?.partnerPhotoPath}}" class="img-fluid rounded" alt="product">
          </div>
          <div class="card-body">
            <hr class="mt-1 mb-1"/>
            <p>
                Address start: {{order?.addressStart}}<br/>
                Address end: {{order?.addressEnd}}<br/>
                Partner: {{order?.partner}}<br/>
                Courier: {{order?.deliveryManFirstName}} {{order?.deliveryManLastName}}<br/>
                Total price: {{order?.totalPrice}}$<br/>
                Tip: {{order?.totalPrice}}$<br/>
                Creation date: {{order?.creationDate}}<br/>
                Completion date: {{order?.completionDate}}<br/>
                Distance from seller to customer: {{order?.distanceInKm}}km<br/>
                Products:
            </p>
            Products:<br/>
            <div class="col-md-12" *ngFor="let orderProduct of getProductsList(order?.id)">
              {{orderProduct.quantity}} * {{orderProduct.product?.name}}
            </div>
            <div *ngIf="order?.rating == null && order?.status === 'done'">
              <h5 class="text-center" >
                Rate this order
                </h5>
                <div class="text-center">
                  <button type="button" class="btn btn-outline-dark ms-1" (click)="setRating(order, 1)">1</button>
                  <button type="button" class="btn btn-outline-dark ms-1" (click)="setRating(order, 2)">2</button>
                  <button type="button" class="btn btn-outline-dark ms-1" (click)="setRating(order, 3)">3</button>
                  <button type="button" class="btn btn-outline-dark ms-1" (click)="setRating(order, 4)">4</button>
                  <button type="button" class="btn btn-outline-dark ms-1" (click)="setRating(order, 5)">5</button>
                </div> 
              </div>
              <div *ngIf="order?.rating != null && order?.status === 'done'">
                <h5 class="text-center" >
                  You have rated this order to: {{order?.rating}}
                  </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>