
    <h1>Search Results for '{{searchTerm}}' in '{{ citySearch }}'</h1>

    <div class="category-page-stores-container">
      <div class="row">
        <div class="col-md-4" *ngFor="let partner of searchPartners">
          <a [routerLink]="['/']" >
            <div class="card mb-3" style="max-width: 540px;" >
              <div class="row g-0">
                <div class="col-md-4 img rounded">
                  <img src="../../../../assets/wrr-buzka.jpg" class="card-img-top h-100" alt="Restaurant Image">
                </div>

                <div class="card-body">
                  <h5 class="card-title">{{ partner?.name }}</h5>
                  <p class="card-text"><span *ngFor="let category of partner?.categories">{{ category?.name }} </span></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    <!-- <div class="category-stores-pagination">
        <div class="category_stores-list">
        </div>
    </div> -->
</div>