

  img {
    max-height: 150px;
  }
.card:hover {
transform: scale(1.02);
cursor: pointer;
}

.card-body {
    padding: 0px;
    padding-left: 10px;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
  
    h5 {
      margin-bottom: 5px;
    }
  
    .card-text {
      line-height: 1;
      overflow: hidden;
      max-height: 55%;
    }
  
    .badge-container {
      max-width: 40%;
      max-height: 25px;
      // background-color: aqua;
      position: absolute;
      bottom: 10px;
  
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  
      .badge {
        font-weight: 450 !important;
      }
    }
  
    .price {
      position: absolute;
      right: 15px;
      bottom: 10px;
    }
  }
  
  img {
    object-fit: cover;
    height: 100%;
  }