.custom-card {
    width: 400px; /* Ustaw szerokość na 200px */
    height: 150px; /* Ustaw wysokość na 100px */
  }
  
  .custom-card img {
    object-fit: cover; /* Zmniejsza/wyolbrzymia obraz, aby wypełnić całą przestrzeń */
    width: 100%;
    height: 100%;
  }