<body>
  <header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">

        <a class="navbar-brand" [routerLink]="['/']">Glovo Eats</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarCollapse">

          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/partner', 'McDonald']">Contact-McDonald</a>
            </li>
            <li class="nav-item">
              <button class="nav-link active" (click)="open(demoModal)">Adblock</button>
            </li>
            <li *ngIf="getRole() === 'ADMIN'">
              <button class="nav-link active color" [routerLink]="['/admin/dashboard']">
                <i class="bi bi-speedometer2"></i> Dashboard</button>
            </li>
            <li *ngIf="getRole() === 'COURIER'">
              <button class="nav-link active color" [routerLink]="['/courier/my-deliveries']">
                <i class="bi bi-backpack4"></i> My deliveries</button>
            </li>
            <li *ngIf="getRole() === 'PARTNER'">
              <button class="nav-link active color" [routerLink]="['/courier/partner-orders']">
                <i class="bi bi-backpack4"></i> My orders</button>
            </li>
          </ul>
          <!-- <form class="middle-search" role="search">
              <div class="input-group">
                <span class="input-group-text"><span class="material-icons">search</span></span>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              </div>
              <button class="btn btn-outline-secondary" (click)="open(demoModal)">search</button>
            </form> -->

  <app-navbar></app-navbar>

  <main>

    <div class="addr-search d-flex">
      <div class="form-group search-bar">
        <label for="addr" class="form-label"><h2 class="mb-1 search-header">Order a delivery in your city</h2></label>
        <div class="input-group mb-3 input-group-lg">
          <label class="input-group-text" for="inputGroupSelect01"><i class="bi bi-geo-alt-fill"></i></label>
          <input type="text" name="city" class="form-control" placeholder="enter your city name" [(ngModel)]="cityName">
          <button class="btn btn-primary" type="button" id="button-addon2" (click)="onSearch()">
            <i class="bi bi-search"></i> Search
          </button>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="container marketing waves-background">

        <div class="row align-items-center">
          <div class="col text-center">
            <a [routerLink]="['register/courier']">
              <img src="../../assets/courier.jpg" height="350" class="rounded mb-3">
            </a>
            <h2 class="fw-normal">Get paid as a courier</h2>
            <p >Join the thrill of being a culinary hero with us – where you're not just a courier, but
            an ambassador, delivering smiles and savor to doorsteps across the city!</p>
            <p><a class="btn btn-outline-primary" [routerLink]="['register/courier']">Apply now</a></p>
          </div>

          <div class="col text-center">
            <a [routerLink]="['register/partner']">
              <img src="../../assets/partner.jpg" height="350" class="rounded mb-3">
            </a>
            <h2 class="fw-normal">Become partner</h2>
            <p >You provide a menu, we provide a delivery service for your business.
              Rock your business like never before!</p>
            <p><a class="btn btn-outline-primary" [routerLink]="['register/partner']">Apply now</a></p>
          </div>
        </div>

      </div><!-- /.container -->
    </div>

    <app-footer></app-footer>

  </main>
</body>

<ng-template #demoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Disable your adblock!!!</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="rounded mx-auto d-block">
    <img src="../assets/wrr-buzka.jpg">
  </div>
</ng-template>

<ng-template #settingsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Account Info</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-4">
    <app-user-settings></app-user-settings>


  </div>
</ng-template>
  <ng-template #ordersModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Orders</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body p-4">
      <app-orders-view></app-orders-view>
    </div>
</ng-template>

<ng-template #complaintModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">File a complaint</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-4">
    <app-complaint-form></app-complaint-form>
  </div>
</ng-template>
