body {
  padding-top: 3rem;
  padding-bottom: 0;
  color: rgb(var(--bs-tertiary-color-rgb));
  // margin-bottom: 0px;
}

.featurette-divider {
  margin: 5rem 0;
}

p {
  padding-left: 40px;
  padding-right: 40px;
}

// .middle-search {
//     position: absolute;
//     left: 50%;
//     width: 300px;
//     margin-left: -150px;
//     max-width: 300px;
//     display: flex;
// }

// --------- navbar -----------

.color:hover {
  color: rgb(33, 102, 193) !important;
}

ul>li>a,
ul>li>button {
  transition: color 0.1s ease-in-out;
}

ul>li:hover>a,
ul>li:hover>button {
  color: #82898f;
}

.user-dropdown {
  color: white !important;
  cursor: pointer;
}

.dropdown-toggle {
  height: 39px;
}

nav {
  // height: 56px;
  height: 65px;
}


// --------- middle search bar -----------

$focus-ring-opacity: 0%;

.search-bar {
  width: 60%;
}

.addr-search {
  height: 70vh;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/bcg.jpg);
  background-size: cover;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.9);
}

.input-group {
  // box-shadow: #82898f;
  box-shadow: 0px 0px 4px black;
  border-radius: 7px !important;
}

.search-header {
  color: white;
  text-shadow: 1px 1px 5px black;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}

// .card-desc {
//     padding: 0 90px;
// }


// --------- footer -----------

.nav-hover-underline li.nav-item a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding: 40px 130px 0px 130px;

  // background-color: #212529; // same as nav
  background-color: #202020;
  color: white;

  footer {
    width: 1500px;
  }

  h5 {
    color: rgba(255, 255, 255, 0.72);
  }

  ul>li>a {
    color: white !important;
  }
}
