<body class="waves-background">
  <main class="form-signin w-100 m-auto">
    <!-- <div class="form-signin w-100 regist-form margins rel"> -->
      <button class="btn btn-close exit-btn" [routerLink]="['/']"></button>

      <h1 class="h3 fw-normal"><b>Partner Registration</b></h1>

      <form
      [formGroup]="partnerForm"
      (ngSubmit)="onSubmit()"
      class="row g-3 needs-validation"
      novalidate
      >

      <div class="row">
        <div class="col">

          <h3 class="h3 fw-normal mt-4">Personal Information</h3>

          <div class="row">

          <div class="form-group col-md-6">
            <label for="firstName" class="form-label">First name</label>
            <input
              type="text"
              name="firstName"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
              [ngClass]="{ 'is-valid': submitted && !f['firstName'].errors }"
            />
            <div class="invalid-feedback" *ngIf="submitted && f['firstName'].errors" >
              <p *ngIf="f['firstName'].errors">Name is required</p>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="lastName" class="form-label">Last name</label>
            <input
              type="text"
              name="lastName"
              formControlName="lastName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
              [ngClass]="{ 'is-valid': submitted && !f['lastName'].errors }"
            />
            <div class="invalid-feedback" *ngIf="submitted && f['lastName'].errors">
              <p *ngIf="f['lastName'].errors">Last Name is required</p>
            </div>
          </div>
        </div>

          <div class="form-group col-md-12">
            <label for="tel" class="form-label">Telephone number</label>
            <div class="input-group d-flex justify-content-center">
              <div class="input-group-prepend ">
                <select class="form-select " formControlName="numpref" aria-label=".form-select-sm example" >
                  <option *ngFor="let prefix of phonePrefixes" [value]="prefix">{{prefix}}</option>
                </select>
              </div>

              <div class="input-group-spacer"></div>

              <input
                maxlength="9"
                type="tel"
                name="telephoneNumber"
                formControlName="telephoneNumber"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['telephoneNumber'].errors }"
                [ngClass]="{ 'is-valid': submitted && !f['telephoneNumber'].errors }"
              />
              <div class="invalid-feedback" *ngIf="submitted && f['telephoneNumber'].errors">
                <p>Provide valid telephone Number</p>
              </div>
            </div>
          </div>

          <div class="form-group col-md-12">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              name="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': (submitted && f['email'].errors) || wrongEmail}"
              [ngClass]="{ 'is-valid': submitted && !f['email'].errors }"
            />
            <div class="invalid-feedback" *ngIf="submitted && f['email'].errors">
              <p *ngIf="f['email'].errors">Provide valid email</p>
            </div>
            <div class="invalid-feedback" *ngIf="wrongEmail == true && !f['email'].errors">
              <p>Email alredy taken</p>
            </div>
          </div>

          <div class="form-group col-md-12">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              [ngClass]="{ 'is-valid':submitted && !f['password'].errors }"
            />
            <div class="invalid-feedback" *ngIf="submitted && f['password'].errors">
              <p *ngIf="f['password'].errors">Provide valid Password</p>
            </div>
          </div>

          <h3 class="h3 fw-normal mt-4">Address</h3>

          <div formGroupName="address">
            <div class="row">
              <div class="form-group col-md-12">
                <label for="street" class="form-label">Street</label>
                <input
                  type="text"
                  name="street"
                  formControlName="street"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && addressForm.get('street')?.errors }"
                  [ngClass]="{ 'is-valid':submitted && !addressForm.get('street')?.errors }"
                />
                <div class="invalid-feedback" *ngIf="submitted && addressForm.get('street')?.errors">
                  <p *ngIf="addressForm.get('street')?.hasError('required')">Street is required</p>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="city" class="form-label">City</label>
                <input
                  type="text"
                  name="city"
                  formControlName="city"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && addressForm.get('city')?.errors }"
                  [ngClass]="{ 'is-valid':submitted && !addressForm.get('city')?.errors }"
                />
                <div class="invalid-feedback" *ngIf="submitted && addressForm.get('city')?.errors">
                  <p *ngIf="addressForm.get('city')?.hasError('required')">City is required</p>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="postalCode" class="form-label">Postal code</label>
                <input
                  maxlength="6"
                  placeholder="00-000"
                  type="text"
                  name="postalCode"
                  formControlName="postalCode"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && addressForm.get('postalCode')?.errors }"
                  [ngClass]="{ 'is-valid':submitted && !addressForm.get('postalCode')?.errors }"
                  (input)="formatPostalCode($event)"
                />
                <div class="invalid-feedback" *ngIf="submitted && addressForm.get('postalCode')?.errors">
                  <p *ngIf="addressForm.get('postalCode')?.hasError('required')">Postal code is required</p>
                </div>
              </div>

            </div>
          </div>

          <div class="form-group col-md-12 mt-3">
            <label class="form-label" for="inputPhoto">Upload your logo</label>
            <input
              type="file"
              accept=".png, .jpg, .jpeg"
              name="photo"
              class="form-control "
              formControlName="photo"
              id="inputPhoto"
              (change)="onFileSelected($event)"
              [ngClass]="{ 'is-invalid': submitted && f['photo'].errors }"
              [ngClass]="{ 'is-valid': submitted && !f['photo'].errors }"
            >
            <div class="invalid-feedback" *ngIf="submitted && f['photo'].errors" >
              <p>Provide valid photo .png/.jpg/.jpeg</p>
            </div>

            <!-- Display uploaded image -->
            <div class="btn-group dropup mt-1">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                [ngClass]="{ 'disabled': !imageUrl}">
                See the image
              </button>
              <ul class="dropdown-menu">
                <div *ngIf="imageUrl" class="">
                  <img name="photo" [src]="imageUrl" alt="Uploaded Image" class="img-thumbnail">
                </div>
              </ul>
            </div>
          </div>

        </div>

        <div class="col">

          <h3 class="h3 fw-normal mt-4">Your business Information</h3>

          <div class="form-group col-md-12">
            <label for="name" class="form-label">Partner Name</label>
            <input
              type="text"
              name="partnerName"
              formControlName="name"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
              [ngClass]="{ 'is-valid':submitted && !f['name'].errors }"
            />
            <div class="invalid-feedback" *ngIf="submitted && f['name'].errors" >
              <p>Name is required</p>
            </div>
          </div>

          <div class="form-group col-md-12">
            <label for="name" class="form-label">Description of your businness (like an ad)</label>
            <textarea
            type="text"
            name="description"
            formControlName="description"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['description'].errors,
                        'is-valid': submitted && !f['description'].errors }"
            ></textarea>
            <div class="invalid-feedback" *ngIf="submitted && f['description'].errors" >
              <p>provide description</p>
            </div>
          </div>

          <div class="row">

            <div class="form-group col-md-6">
              <label for="name" class="form-label">Open Hour</label>
              <input
                type="text"
                name="openHour"
                placeholder="HH:mm"
                formControlName="openHour"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['openHour'].errors }"
                [ngClass]="{ 'is-valid': submitted && !f['openHour'].errors }"
              />
              <div class="invalid-feedback" *ngIf="submitted && f['openHour'].errors" >
                <p>open Hour is required</p>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="name" class="form-label">Close Hour</label>
              <input
                type="text"
                name="closeHour"
                placeholder="HH:mm"
                formControlName="closeHour"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['closeHour'].errors }"
                [ngClass]="{ 'is-valid':submitted && !f['closeHour'].errors }"
              />
              <div class="invalid-feedback" *ngIf="submitted && f['closeHour'].errors" >
                <p>Close Hour is required</p>
              </div>
            </div>

          </div>

          <div class="form-group col-md-12">
            <label for="name" class="form-label">Website Url</label>
            <input
              type="text"
              name="websiteLink"
              formControlName="websiteLink"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['websiteLink'].errors }"
              [ngClass]="{ 'is-valid':submitted && !f['websiteLink'].errors }"
            />
            <div class="invalid-feedback" *ngIf="submitted && f['websiteLink'].errors" >
              <p>websiteLink is required</p>
            </div>
          </div>

          <div class="form-group col-md-12">
            <label for="name" class="form-label">Expected time to prepare order (in minutes)</label>
            <input
              type="number"
              name="expectedWaitingTime"
              formControlName="expectedWaitingTime"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['expectedWaitingTime'].errors }"
              [ngClass]="{ 'is-valid':submitted && !f['expectedWaitingTime'].errors }"
            />
            <div class="invalid-feedback" *ngIf="submitted && f['expectedWaitingTime'].errors" >
              <p>Expected Waiting Time is required</p>
            </div>
          </div>

          <div class="form-group col-md-12">
            <label for="name" class="form-label">Account Number</label>
            <input
              maxlength="26"
              type="text"
              name="accountNumber"
              formControlName="accountNumber"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['accountNumber'].errors }"
              [ngClass]="{ 'is-valid':submitted && !f['accountNumber'].errors }"
            />
            <div class="invalid-feedback" *ngIf="submitted && f['accountNumber'].errors" >
              <p>Account number is required</p>
            </div>
          </div>

          <div class="form-group col-md-12">
            <label for="name" class="form-label"> Contact Number</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <select class="form-select"  formControlName="conpref" aria-label=".form-select-sm example"  >
                  <option *ngFor="let prefix of phonePrefixes" [value]="prefix">{{prefix}}</option>
                </select>
              </div>
              <div class="input-group-spacer"></div>
              <input
                maxlength="9"
                type="text"
                name="contactNumber"
                class="form-control"
                formControlName="contactNumber"
                [ngClass]="{ 'is-invalid': submitted && f['contactNumber'].errors }"
                [ngClass]="{ 'is-valid':submitted && !f['contactNumber'].errors }"
                />
                <div class="invalid-feedback" *ngIf="submitted && f['contactNumber'].errors" >
                  <p>Provide valid contact Number</p>
                </div>
            </div>
          </div>

          <div class="form-group col-md-12">
            <label for="type" class="form-label">Category</label>
              <select class="form-select input" aria-label=".form-select-sm example"
                formControlName="type"
                [ngClass]="{ 'is-invalid': submitted && f['type'].errors }"
                [ngClass]="{ 'is-valid': submitted && !f['type'].errors }"
                >
                <option value="restaurant">Restaurant</option>
                <option value="pharmacy">Pharmacy</option>
                <option value="groceryStore">Grocery store</option>
                <option value="pharmacy">Pharmacy</option>
                <option value="florists">Florist's</option>
                <option value="coffeeHouse">Coffeehouse</option>
            </select>
            <div class="invalid-feedback" *ngIf="submitted && f['type'].errors">
              <p>Provide Category</p>
            </div>
          </div>

            <!-- <div class="mb-3" id="inputPhotoDiv" >
              <label class="form-label" for="inputPhoto">Logo</label>
              <input type="file" accept=".png, .jpg, .jpeg"
                      name="photo"
                      formControlName="photo"
                      class="form-control"
                      id="inputPhoto"
                      (change)="onFileSelected($event)"
                      [ngClass]="{ 'is-invalid': (submitted && f['photo'].errors) || wrongPhoto}"
                      [ngClass]="{ 'is-valid': submitted && !f['photo'].errors }">
              <div class="invalid-feedback" *ngIf="wrongPhoto == true && !f['photo'].errors">
                <p>Wrong photo</p>
              </div>
            </div> -->
        </div>
      </div>

      <div class="form-group mt-5 d-flex justify-content-center">
        <button class="w-50 btn btn-lg btn-primary">Submit</button>
      </div>

      <hr class="my-3">
      <small class="text-muted mt-0 text-center">By clicking Submit, you agree to the terms of use.</small>

      <p class="mt-4 mb-2 text-muted text-center">&copy; 2023-2024</p>

      </form>
    <!-- </div> -->
  </main>
</body>
<div class="fill"></div>

<app-footer></app-footer>
