
html,
body {
  height: 110vh;
  // padding-top: 50px; 
  // padding-bottom: 100px;
}

main {
  background-color: whitesmoke;
  border-radius: 20px;
  margin-top: 0px !important;
}

.regist-form {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 35px;
}

.input-group-spacer {
  width: 15px; /* Adjust the width to your desired spacing */
}

.form-signin {
  top: 50px;
  max-width: 450px;
  // width: fit-content;
  padding: 35px;
  background-attachment: fixed;
  position: relative;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
p{
  margin-bottom: 0rem;
}

.waves-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../../assets/layered-waves-haikei1.svg);
}

.exit-btn {
  position: absolute;
  top: 3vh;
  right: 3vh;
}

h1 {
  margin-bottom: 30px;
}

.margins{
  // margin:auto;
  // margin-left: auto;
  // margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.rel{
  position: relative;
}
.m-t{
  margin-top: 1vh;
}
