<h1>Partners in {{currentCity}}</h1>

            <div class="category-page-stores-container">


                  <div class="row">
                    <div class="col-lg-6 col-xl-4" *ngFor="let partner of partners">
                      <a [routerLink]="['/']" ><div class="card mb-3" >
                            <img src="../../../../assets/wrr-buzka.jpg" class="card-img-top h-100" alt="Restaurant Image">
                            <div class="card-body">
                            <h5 class="card-title">{{ partner?.name }}</h5>
                            <p class="card-text"><span *ngFor="let category of partner?.categories">{{ category?.name }} </span></p>
                            </div>
                        </div>
                      </a>
                    </div>
                  </div>


                <!-- <div class="category-stores-pagination">
                    <div class="category_stores-list">
                    </div>
                </div> -->
            </div>
