<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">

      <a class="navbar-brand" [routerLink]="['/']">Volg Delivery</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarCollapse">

        <ul class="navbar-nav me-auto mb-2 mb-md-0 align-items-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/partner', 'McDonald']">McDonald</a>
          </li> -->
          <li class="nav-item">
            <button class="nav-link active" (click)="open(demoModal)">Adblock</button>
          </li>
          <li *ngIf="getRole() === 'ADMIN'">
            <button class="nav-link active color" [routerLink]="['/admin/dashboard']">
              <i class="bi bi-speedometer2"></i> Dashboard</button>
          </li>
          <li *ngIf="getRole() === 'COURIER'">
            <button class="nav-link active color" [routerLink]="['/courier/my-deliveries']">
              <i class="bi bi-backpack4"></i> My deliveries</button>
          </li>
          <li *ngIf="getRole() === 'PARTNER'">
            <button class="nav-link active color" [routerLink]="['/courier/partner-orders']">
              <i class="bi bi-backpack4"></i> My orders</button>
          </li>
          <li class="nav-item d-flex align-items-center" *ngIf="partnersRoute()">
            <button type="button" class="btn btn-outline-secondary border-adress flex-center" (click)="open(addressModal)">
              <i class="fa-solid fa-location-dot"></i>
              <div *ngIf="cityName" class="p-1 ms-1">
                {{cityName}}
              </div>
            </button>
          </li>
        </ul>


        <a class="btn cart-btn me-3" data-bs-toggle="offcanvas" href="#offcanvasShoppingCart"
          role="button" aria-controls="offcanvasShoppingCart" *ngIf="getTotal() > 0">
          <h6 class="mb-0 d-flex align-items-center">
            <h4 class="mb-0 me-2">
              <i class="bi bi-cart2"></i>
            </h4>
            See your order <span class="me-4"></span> {{getTotal() | number: '1.2-2'}} $
          </h6>
        </a>

        <div *ngIf="!(isUserLoggedIn())">
          <button class="btn btn-outline-primary me-2" type="submit"
            [routerLink]="['/register/user']">Register</button>
          <button class="btn btn-outline-success" type="submit" [routerLink]="['/auth']">Log in</button>
        </div>

        <div *ngIf="isUserLoggedIn() && getRole() !== 'USER'" class="nav-item text-white me-2 badge text-bg-primary">
          {{ getRole() }}
        </div>
        <div *ngIf="isUserLoggedIn()">
          <div class="dropdown-center">
            <button class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-person me-2"></i> {{ loggedUser.firstName }} {{ loggedUser.lastName }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-position ">
              <li><a class="dropdown-item user-dropdown" (click)="open(settingsModal)">Settings</a></li>
              <li><a class="dropdown-item user-dropdown" (click)="open(ordersModal)" *ngIf="isUserLoggedIn() && getRole() === 'USER'">Orders</a></li>
              <li><a class="dropdown-item user-dropdown" (click)="open(complaintModal)" *ngIf="isUserLoggedIn() && getRole() !== 'ADMIN'">File a compalaint</a></li>
              <li><a class="dropdown-item user-dropdown" (click)="open(recurringOrdersModal)" *ngIf="isUserLoggedIn() && getRole() === 'USER'">Periodic orders</a></li>
              <li><a class="dropdown-item user-dropdown" (click)="logOut()">Log Out</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </nav>
</header>


<!----------- modals ------------>

<ng-template #demoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Disable your adblock!!!</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="rounded mx-auto d-block">
    <img src="../../../assets/wrr-buzka.jpg">
  </div>
</ng-template>

<ng-template #settingsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Account Info</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-4">
    <app-user-settings></app-user-settings>
  </div>
  
</ng-template>
  <ng-template #ordersModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Orders</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body p-4">
      <app-orders-view></app-orders-view>
    </div>
</ng-template>

<ng-template #addressModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Change City</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <label for="newAddress" class="form-label">New City:</label>
    <input type="text" class="form-control" id="newAddress" [(ngModel)]="newAddress" (keydown.enter)="changeAddress()">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="changeAddress()">Save changes</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
      (click)="modal.dismiss('Cross click')">Close</button>
  </div>
</ng-template>

<ng-template #complaintModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">File a complaint</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-4">
    <app-complaint-form></app-complaint-form>
  </div>
</ng-template>

<ng-template #recurringOrdersModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Periodic orders</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-4">
    <app-recurring-orders></app-recurring-orders>
  </div>
  
</ng-template>

<div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" id="offcanvasShoppingCart" aria-labelledby="offcanvasExampleLabel">
  <app-shopping-cart></app-shopping-cart>
</div>
