
// --------- navbar -----------

.color:hover {
  color: rgb(33, 102, 193) !important;
}

ul>li>a,
ul>li>button {
  transition: color 0.1s ease-in-out;
}

ul>li:hover>a,
ul>li:hover>button {
  color: #82898f;
}

.user-dropdown {
  color: white !important;
  cursor: pointer;
}

.dropdown-toggle {
  height: 39px;
}

nav {
  // height: 56px;
  height: 65px;
}

.border-adress {
  border-radius: 24px;
  color: aliceblue;
  // padding-top: 8px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.cart-btn {
  // border-color: white;
  background-color: whitesmoke;
  color: #202020;
}

.cart-btn:hover {
  background-color: whitesmoke;
  background-color: lightgray;
}