<header class="blight">
    <div class="container" id="navbarTogglerDemo02">
        <div class="position-div">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
        </div>

        <div class="header-search">
            <div class="header-search-input">
                <form class="margin-search" >

                        <button type="button" class="btn header-search-input-placeholder px-4 r-10" (click)="search(searchTerm)">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </button>

                     <div class="text-input">
                        <label for="search-input" class="Visual-hidden">
                            <input id="search-input" [(ngModel)]="searchTerm" (keyup.enter)="search(searchTerm)" [ngModelOptions]="{standalone: true}"/>
                        </label>
                    </div>
                </form>
            </div>
        </div>

        <div class="position-div">
            <button class="btn">Settings</button>
        </div>
    </div>
</header>

<div class="main-container">
    <div class="category-page_body">
        <div class="store-wall">
            <div class="store-wall-content">
                <div class="wall-element">
                    <div>
                        <a>Cos tu napewno będzie</a>
                    </div>
                </div>
                <div class="wall-element">
                    <h3>Filtry</h3>
                    <div class="filter-section">
                        <ul class="">
                            <li class="list-element">
                                <a>
                                <i class="fa-solid fa-burger"></i>
                                 Kategoria
                                </a>
                            </li>
                            <li class="list-element">
                                <a>
                                <i class="fa-solid fa-burger"></i>
                                 Kategoria
                                </a>
                            </li>
                            <li class="list-element">
                                <a>
                                <i class="fa-solid fa-burger"></i>
                                 Kategoria
                                </a>
                            </li>
                            <li class="list-element">
                                <a>
                                <i class="fa-solid fa-burger"></i>
                                 Kategoria
                                </a>
                            </li>
                            <li class="list-element">
                                <a>
                                <i class="fa-solid fa-burger"></i>
                                 Kategoria
                                </a>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-page_results">
            <router-outlet ></router-outlet>
        </div>
    </div>

</div>
