<header class="bg-light">
    <div class="container" id="navbarTogglerDemo02">
        <div class="position-div">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
        </div>

        <div class="position-div middle-grid">
            <form class="form-inline my-2">
                <div>
                    <div class="inline-div">
                        <input class="form-control mr-sm-2 " type="search" placeholder="Search">
                    </div>
                    
                    <div class="inline-div">
                        <button class="btn btn-warning" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="position-div">
            <button class="btn">Settings</button>
        </div>
    </div>
</header>

<div class="main-container">
    <div class="category-page_body">
        <div class="store-wall">
            <div class="store-wall-content">
                <div class="wall-element">
                    <div>
                        <a>Cos tu napewno będzie</a>
                    </div>
                </div>
                <div class="wall-element">
                    <h3>Filtry</h3>
                    <div class="filter-section">
                        <ul class="">
                            <li class="list-element">
                                <a>
                                 Kategoria
                                </a>
                            </li>
                            <li class="list-element">
                                <a>
                                 Kategoria
                                </a>
                            </li>
                            <li class="list-element">
                                <a>
                                 Kategoria
                                </a>
                            </li>
                            <li class="list-element">
                                <a>
                                 Kategoria
                                </a>
                            </li>
                            <li class="list-element">
                                <a>
                                 Kategoria
                                 <i class="fa-solid fa-burger"></i>
                                </a>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>