header {
    background-color: lightblue; /* Replace with your desired background color */
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Three columns, adjust as needed */
    column-gap: 20px; /* Adjust the gap between columns */
    justify-content: space-between;
    align-items: center;
    padding: 15px; /* Add padding to the container */
}

.position-div {
    display: flex !important;
    align-items: center !important;
}

.middle-grid {
    display: grid;
    grid-template-columns: auto auto; /* Two columns for search and button */
    column-gap: 10px; /* Adjust the gap between columns */
    align-items: baseline; /* Align elements based on their baseline */
}

.inline-div {
    display: inline-block;
    position: sticky;
}


.form-control {
    border: 1px solid #f8c146;
}

.main-container{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: calc(1124px + 15%);
    padding-left: 7.5%;
    padding-right: 7.5%;
    width: 100%;
}
.wall-element{
    border: 1px solid #f8c146;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: block;
    margin-bottom: var(--helio-space-XL);
}
.category-page_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
// @media(min-width:1025px)
.store-wall{
    height: 100%;
    max-height: none;
    flex: 0 0 194px;
    overflow-y: auto;
    position: sticky;
    top:104px;
}
.store-wall-content{
    box-sizing: border-box;
    padding-top: 48px;
}
h3{
    color: var(--helio-color-primaryText);
    font-size: 15px;
    font-weight: 400 bold;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 12px;
    text-align: left;
}
.filter-section{
    display: flex;
    flex-direction: column;
    height: auto;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-element{
    border-bottom:1px solid gray;
    padding-bottom: 5px;
    padding-top: 5px;

}