<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 " [routerLink]="['/']">Glovo Eats</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <button class="btn btn-secondary me-2 px-4" [routerLink]="['/']">Exit</button>
    </header>
  
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <button class="nav-link" (click)="showInPreparation()">
                  <i class="bi bi-bag-check"></i> Orders that need to be prepared</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="showReadyForDelivery()" active>
                  <i class="bi bi-bag"></i> Ready for pick up</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="showInDelivery()" active>
                  <i class="bi bi-backpack4"></i> In delivery</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="showDone()">
                  <i class="bi bi-bag-check"></i> Done</button>
              </li>
            </ul>
          </div>
        </nav>
  
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">                  
              {{this.selectedStatus === "done" ? "Done" : '' }}
              {{this.selectedStatus === "inDelivery" ? "In delivery assigned to me" : '' }}
              {{this.selectedStatus === "readyForDelivery" ? "Ready for pick up" : "" }}
            </h1>
            
          </div>

          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
              </ng-container>

              <ng-container matColumnDef="addressStart">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Start adress</th>
                <td mat-cell *matCellDef="let row">{{row.addressStart}}</td>
              </ng-container>

              <ng-container matColumnDef="addressEnd">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
                <td mat-cell *matCellDef="let row">{{row.addressEnd}}</td>
              </ng-container>

              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>First name</th>
                <td mat-cell *matCellDef="let row">{{row.customerFirstName}}</td>
              </ng-container>
              
              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Last name</th>
                <td mat-cell *matCellDef="let row">{{row.customerLastName}}</td>
              </ng-container>
        
              <ng-container matColumnDef="telephoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Telephone number</th>
                <td mat-cell *matCellDef="let row">{{row.customerTelephoneNumber}}</td>
              </ng-container>
          
              <ng-container matColumnDef="deliveryManFirstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Courier first name</th>
                <td mat-cell *matCellDef="let row">{{row.deliveryManFirstName}}</td>
              </ng-container>
              <ng-container matColumnDef="deliveryManLastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Courier last name</th>
                <td mat-cell *matCellDef="let row">{{row.deliveryManLastName}}</td>
              </ng-container>

              <ng-container matColumnDef="creationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cretion date</th>
                <td mat-cell *matCellDef="let row">{{row.creationDate}}</td>
              </ng-container>

              <ng-container matColumnDef="completionDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Completion date</th>
                <td mat-cell *matCellDef="let row">{{row.completionDate}}</td>
              </ng-container>

              <ng-container matColumnDef="distanceInKm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Distance</th>
                <td mat-cell *matCellDef="let row">{{row.distanceInKm}}km</td>
              </ng-container>

              <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total price</th>
                <td mat-cell *matCellDef="let row">{{row.totalPrice}}$</td>
              </ng-container>

              <ng-container matColumnDef="tip">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tip</th>
                <td mat-cell *matCellDef="let row">{{row.tip}}$</td>
              </ng-container>

              <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
                <td mat-cell *matCellDef="let row">{{row.rating}}</td>
              </ng-container>

              <ng-container matColumnDef="makeReadyForPickup">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row" ><button type="button" class="btn btn-success m-1 m-1" (click)="setReadyForDelivery(row.id)">Set as ready for delivery</button></td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns;"
              data-bs-toggle="modal" data-bs-target="#orderModal"
          ></tr>
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="alert alert-danger " colspan="12"  role="alert">
                  No order with status 
                  {{this.selectedStatus === "done" ? "\"done\"" : "" }} 
                  {{this.selectedStatus === "inDelivery" ? "\"in delivery\"" : ""}} 
                  {{this.selectedStatus === "readyForDelivery" ? "\"ready for pickup\"" : "" }} 
                  {{this.selectedStatus === "inPreparation" ? "\"in preparation\"" : "" }} 
                  matches the filter "{{input.value}}"
                </td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="25"
              aria-label="Select page of users"></mat-paginator>
          </div>
  
        </main>
      </div>
    </div>
  </body>